* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
@font-face {
  font-family: "Raleway";
  font-weight: 400px;
  src: url("/fonts/Raleway-Bold.ttf");
}

:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navyblue: #2e2f42;
  --color-white: #fff;
  --color-cloud: #f4f4fd;
  --color-slate: #434455;
  --color-lightslate: #8e8f99;
  --color-cornflower: #e7e9fc;
}
/* .nav-logo,
.logo-studio,
.logo-web,
.footerlogo-studio,
.footerlogo-web {
  text-decoration: none;
} */

body {
  font-family: "Roboto", sans-serif;
  background-color: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
  border: unset;
  outline: none;
  cursor: pointer;
}
.main-header-container {
  color: var(--color-white);
}
.main-header-menu,
.main-header-menu-contact,
.features-section-list,
.image_tiles,
.services-category-filter,
.services-image-tiles {
  color: var(--color-navyblue);
}

/* Logo Section */
.nav-logo,
.footer-logo {
  text-decoration: none;
}
.logo-web,
.footerlogo-web {
  font-family: "Raleway";
  text-decoration: none;
  color: var(--color-iris);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio {
  font-family: "Raleway";
  color: var(--color-navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footerlogo-studio {
  font-family: "Raleway";
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* Navigation Bar Section */
.main-header-menu-link.active {
  color: var(--color-iris);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.main-header-menu-link {
  color: var(--color-navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.main-header-menu-tel-link,
.main-header-menu-num-link {
  color: var(--color-slate);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.main-header-menu-link:hover,
.main-header-menu-tel-link:hover,
.main-header-menu-num-link:hover {
  color: var(--color-ocean);
}
/* Call to Action Button */
.main-header-cta {
  color: var(--color-white);
  background-color: var(--color-iris);
  font-weight: 500;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}
/* Hero Section */
.hero-section {
  background-color: var(--color-navyblue);
}
h1 {
  color: var(--color-white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.h2-whatwearedoing {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
/* Feature section */
.features-description {
  color: var(--color-slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/* Team Section */
.ourteam-section {
  background-color: var(--color-cloud);
}
.h2-ourteam {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.ourteam-name {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.ourteam-jobdesc,
.ourteam-name {
  text-align: center;
}

.ourteam-jobdesc {
  color: var(--color-slate);
}

/* Footer Section */
.main-footer-section {
  background-color: var(--color-navyblue);
  color: var(--color-cloud);
  text-decoration: none;
}

/* -----PORTFOLIO------ */
.services-category-button {
  background-color: var(--color-cloud);
  color: var(--color-iris);
  border: 1px var(--color-cornflower);
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.services-category-button.active {
  background-color: var(--color-iris);
  color: var(--color-white); /*White text color */
}

.services-category-button:hover {
  background-color: var(--color-iris); /* iris color on hover */
  color: var(--color-white);
}

.services-category-button:focus {
  outline: none; /* Remove default focus outline */
}

/* Optional: Add a subtle shadow effect */
.services-category-button:not(.active):hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.services-name {
  color: var(--color-navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.service-category {
  color: var(--color-slate);
}
